{% extends 'shared/site.html' %}

{% block body %}

<section class="bg-texture">
    <div class="container">
        <div class="row">
            <div class="col"></div>

            <div class="col" style="margin-top:100px;">
                <div class="animated rubberband" style="background-color: #2c3e50; border-radius:5px; padding: 20px; color:#fff; width: 500px;">
                    <div>
                        <h3 class="tetx-center">Login Form</h3>
                        <hr style="border-color: #fff;"/>

                        <p>Thanks for spending some quality time with the Web site today.</p>

                        <p><a href="{% url 'login' %}" style="color:cyan;">Log in agein</a></p>
                    </div>
                </div>
            </div>

            <div class="col"></div>
        </div>
    </div>
</section>


{% endblock %}






